[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-irblack"]
	path = vim/.vim/bundle/vim-irblack
	url = git://github.com/wgibbs/vim-irblack.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/tcomment_vim"]
	path = vim/.vim/bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-git"]
	path = vim/.vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
